extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
  .container
    h1 Blockchain - NFT Workshop
    //- .embed-responsive.embed-responsive-16by9
      //- iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    h2 Welcome to this NFT workshop
    br
    br
    button(onclick='location.href="/hash"') Lets go !!!
    br
    p.pull-right by 
      a(href='/') Anders Brownworth and slight modifications are made by Grasses
